
**/bin
**/coverage
**/dist
**/node_modules
**/patches
**/static
**/vendor
**/.storybook
.github
yarn-error.log
.prettierignore
.prettier.json
.eslintrc.js
.yaml
.git
.eslintcache
**/rollup.config.js
packages/segast/src/filterql.js
**/*.hbs
